:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
}

.contact {
  margin-top: 92px;
  min-height: calc(100vh - 112px);
}

.contact h2 {
  color: rgb(44, 62, 80);
}

.contact .__top {
  top: 40px !important;
}

.colorLabel {
  color: #1abc9c;
  margin-bottom: 7px;
  transition: .6s top;
}

.contact .form-control:focus {
  box-shadow: none;
}

.contact button {
  background-color: #1abc9c;
}

.contact button:hover {
  background-color: #1abc9c;
}

.contact .btn:focus-visible {
  background-color: #1abc9c;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background-color: #1abc9c;
}

@media screen and (max-width: 768px) {
  .contact form {
    width: 100% !important;
  }
}

@media screen and (max-width: 794px) {
  .contact form {
    width: 100% !important;
  }
}

.lines {
  height: 4px;
  width: 80px;
  background-color: rgb(44, 62, 80);
}


.star {
  color: rgb(44, 62, 80);
}